<div class="card">
  <div class="card-header">
    Please post a Joke here for kids
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form  #postJokeForm="ngForm">
        <div class="form-group">
          <label for="emailId">Email address</label>
          <input type="email" class="form-control" id="emailId" #emailId="ngModel"  [(ngModel)]="model.user_email" name="emailId" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)"
               class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div class="form-group">
          <label for="description">Enter a Joke</label>
          <textarea rows="10" cols="5" class="form-control" id="description" #description="ngModel" [(ngModel)]="model.description" name="description" required></textarea>
          <div *ngIf="description.invalid && (description.dirty || description.touched)"
               class="alert alert-danger">
            Joke text is required
          </div>
        </div>
        <div *ngIf="postSuccess === true" class="alert alert-success alert-dismissible fade show" role="alert">
          Thank you for posting your Joke.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="postSuccess=== false" class="alert alert-error alert-dismissible fade show" role="alert">
          Oops some error occurred. please try again!.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
          Please note: Your joke will be posted after being reviewed
        </div>
        <button (click)="onPostJoke()" type="button" [disabled]='postJokeForm.invalid && submitted=== false' class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
