<div class="card">
  <div class="card-header">
    Subscribe here to read new Jokes, when they arrive
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form  #subscriptionForm="ngForm">
        <div class="form-group">
          <label for="emailId">Email address</label>
          <input type="email" class="form-control" id="emailId" #emailId="ngModel"  [(ngModel)]="model.user_email" name="emailId" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)"
               class="alert alert-danger">
            Email is required
          </div>
        </div>

        <div *ngIf="postSuccess === true" class="alert alert-success alert-dismissible fade show" role="alert">
          Thank you for Subscribing.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="postSuccess=== false" class="alert alert-error alert-dismissible fade show" role="alert">
          Oops some error occurred. please try again!.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <button (click)="onPostSubscription()" type="button" [disabled]='subscriptionForm.invalid && submitted=== false' class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>
