 <ul class="list-group" *ngFor="let joke of jokes; let i=index">
   <li class="list-group-item">
     {{joke.description}}
         <br>
         <button *ngIf="liked[i]===false" type="button" class="btn btn-light" aria-label="Left Align" (click)="onPostLike(i)">
         <i class="fa fa-bell-o fa-lg"   aria-hidden="true"></i> Like
         </button>
       <button *ngIf="liked[i]===true" type="button" class="btn btn-light" aria-label="Left Align">
         <i class="fa fa-bell fa-lg"   aria-hidden="true"></i> Like
       </button>
     {{joke.likes_count}} Likes
   </li>
 </ul>



